# Database
DATABASE_URL="postgresql://neondb_owner:npg_bpSGc0Lu7WqY@ep-polished-term-anebdkgb-pooler.c-6.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

# Better Auth
BETTER_AUTH_SECRET="UAdFQQBN3zeTyu8j2QxcKmF7driuLF14"
BETTER_AUTH_URL="http://localhost:3000"

# Optional: For production, update BETTER_AUTH_URL to your Vercel deployment URL